@font-face {
    font-family: "Tajawal";
    font-weight: 300;
    font-style: normal;
    src: url("../ttf/light.ttf") format("truetype");
}

@font-face {
    font-family: "Tajawal";
    font-weight: 400;
    font-style: normal;
    src: url("../ttf/regular.ttf") format("truetype");
}

@font-face {
    font-family: "Tajawal";
    font-weight: 500;
    font-style: normal;
    src: url("../ttf/medium.ttf") format("truetype");
}

@font-face {
    font-family: "Tajawal";
    font-weight: 700;
    font-style: normal;
    src: url("../ttf/bold.ttf") format("truetype");
}